@model PaginatedList<GerenciaProjeto.Models.Sistema>

@{
    ViewData["Title"] = "Sistemas";
}

<h1>@ViewData["Title"]</h1>

<div>
    <div class="float-left">
        <p>
            <a class="btn btn-primary btn-sm" asp-action="Criar">Novo Sistema</a>
        </p>
    </div>
    <div class="float-right">
        <form asp-action="Inicio" method="get" class="form-inline my-2 my-lg-0">
            <input name="pesquisa" value="@ViewData["pesquisa"]" class="form-control mr-sm-2" type="text" placeholder="Pesquisar" />
            <input class="btn btn-secondary my-2 my-sm-0" type="submit" value="Pesquisar" />
            <a class="btn btn-secondary my-2 my-sm-0" style="margin-left: 5px" asp-action="Inicio">Voltar à Lista Completa</a>
        </form>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Nome)
            </th>
            <th>
                Última Versão
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-light">
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @if (item.Versoes.Any())
                    {
                        var ultimaVersao = item.Versoes.OrderByDescending(v => v.Data).Select(v => v.Numero).First();
                        @ultimaVersao
                    }
                </td>
                <td>
                    <a class="btn btn-outline-primary btn-sm" asp-controller="Versoes" asp-action="Criar" asp-route-sistemaId="@item.Id">Nova Versão</a>
                </td>
                <td>
                    <a asp-controller="Versoes" asp-action="Inicio" asp-route-sistemaId="@item.Id">Visualizar Versões</a> |
                    <a asp-controller="Empresas" asp-action="Inicio" asp-route-sistemaId="@item.Id">Visualizar Empresas</a> |
                    <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Deletar" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Inicio"
   asp-route-numeroPagina="@(Model.PageIndex - 1)"
   asp-route-pesquisa="@ViewData["pesquisa"]"
   class="btn btn-secondary my-2 my-sm-0 @prevDisabled">
    Anterior
</a>
<a asp-action="Inicio"
   asp-route-numeroPagina="@(Model.PageIndex + 1)"
   asp-route-pesquisa="@ViewData["pesquisa"]"
   class="btn btn-secondary my-2 my-sm-0 @nextDisabled">
    Próxima
</a>